#formSection {
  padding-top: 100px;
}
.newEmployee {
  width: calc(30vw + 15rem);
  margin: auto;
  margin-bottom: 100px;
  padding: 1.5rem;
  background-color: white;
  border: 2px solid var(--darkModeTxtClr);
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.form-header {
  background-image: url("img/background_2.png");
  background-size: cover;
  background-color: var(--darkModeBg);
  padding: 1rem;
  border: 1.6px solid var(--darkModeTxtClr);
  border-radius: 0.25rem 0.25rem 0 0;
  box-shadow: 0px 0px 4px var(--darkModeTxtClr);
  margin-bottom: calc(1vw + 0.75rem);
  h1 {
    margin-bottom: 20px;
    font-size: calc(2vw + 2rem);
  }
  h3 {
    font-size: calc(1.25vw + 1.25rem);
  }
}
.form {
  margin: auto;
  background-color: var(--darkModeBg);
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 5px var(--darkModeBgOp);
  display: grid;
  grid-template-columns: repeat(2fr, 1fr);
}
.form .btn {
  background-color: coral;
  width: 150px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.section {
  margin-bottom: 25px;
}
.section h3 {
  background-color: coral;
  margin-bottom: 25px;
  padding: 0.25rem;
}
.form-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: right;
  margin-bottom: 10px;
  label {
    color: var(--themeTxtClr);
    text-align: right;
    padding: 0.25rem;
    margin-right: 5px;
  }
  input {
    margin: auto;
    width: calc(7.5vw + 7.5rem);
    height: 20px;
    padding: 0.25rem;
    font-size: calc(0.5vw + 0.5rem);
    border: none;
    border-bottom: 1.6px solid coral;
  }
}

// Short Profile
.project {
  width: calc(30vw + 15rem);
  margin: auto;
  background-color: var(--darkModeTxtClr);
  margin-bottom: 100px;
  border-radius: 2rem;
  display: grid;
  .form-container {
    
    width: 90%;
    border-radius: 2rem;
    margin: auto;
    padding: 2rem;
    #shortProfile {
      background-color: var(--darkModeBg);
      border-radius: 0.5rem;
      .formBox {
        display: grid;
        padding: 1rem;
        width: 250px;
        color: white;
        background-color: var(--primaryBackground);
        input {
          padding: 0.25rem 0.5rem;
        }
        button {
          width: 100px;
          margin: auto;
          border: none;
          border-radius: 1rem;
          padding: 0.25rem 0.5rem;
          cursor: pointer;
        }
      }
    }
    #obj pre {
      color: black;
      border: none;
      border-radius: 1rem;
      padding: 0.25rem 0.5rem;
    }
  }
}

.templates-document {
  width: 900px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  margin: auto;
  margin-bottom: 50px;
}
