.forms-modal {
  width: 900px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  margin: auto;
  margin-bottom: 50px;
}

.templates-document {
  width: 900px;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  margin: auto;
  margin-bottom: 50px;
}
