:root{
  --primaryBackground: rgb(34, 34, 34);
  --primaryClrDark: black;
  --primaryClrMid: grey;
  --secondaryClr: white;

  --radialGradePrimary: radial-gradient( rgb(110, 110, 110), rgb(240, 240, 240));
  --radialGradeSecondary: radial-gradient(rgb(255, 255, 255), rgb(170, 170, 170));
  --primarClrDarkOp: rgba(0, 0, 0, .8);
  --secondaryClrOp: rgba(255, 255, 255, 0.6);
}
* {
  margin: 0;
  padding: 0;
  font-family:'montserrat', cursive;
}
h1, h2, h3 {
  font-family:'audiowide', cursive;
  margin-bottom: 50px;
  text-align: center;
  margin: 0;
}

body{
  background-color: rgb(221, 221, 221);
}

.art2{
  width: 80vw;
  margin: auto;
  margin-bottom: 100px;
}