
:root {
    --bk_primary: lightblue;
    --padding:2rem;
    --margin:1rem;
    --border:3px solid darkblue;
    --primaryBackground: black;
    --primaryClrDark: black;
    --primaryClrMid: grey;
    --secondaryClr: white;
}

* {
    margin: 0;
    padding: 0;
    font-family:'roboto', cursive;
}
h1, h2, h3 {
    font-family:'audiowide', cursive;
    margin-bottom: 50px;
    text-align: center;
    margin: 0;
}

body{
    background-color: rgb(221, 221, 221);
}
