.section {
  margin-bottom: 100px;
  h2 {
    font-family: "Audiowide", cursive;
    margin-bottom: 10px;
    text-align: center;
  }
  .tableSection {
    margin: auto;
    .table {
      width: calc(45vw + 15rem);
      margin: auto;
      padding: 1rem;
      border: 1px solid black;
      margin-bottom: 50px;
      border-collapse: collapse;
      tbody tr {
        td {
          padding: 1rem;
        }
      }
      thead tr th {
        background-color: var(--themeBgOp);
        padding: 1rem;
      }
    }
  }
  .employeeCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card {
    display: grid;
    margin: auto;
    gap: 0.5rem;
    width: 450px;
    height: 300px;
    box-shadow: 0px 0px 5px var(--darkModeTxtClr);
    border-radius: 0.5rem;
    .profileImg {
      background-color: var(--darkModeTxtClr);
      width: 80px;
      height: 80px;
      margin: 0.5rem;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        text-align: center;
        color: var(--darkModeBg);
      }
    }
    .profileCard-info {
      margin: 0.5rem;
      display: flex;
      flex-direction: column;
      background-color: var(--themeBgOp);
      padding: 0.25rem;
    }

    .profileCard-info span {
      margin: 0.2rem 0;
    }
  }
}

.version {
  margin: auto;
  width: 95vw;
  padding: 0.5rem;
  text-align: center;
  color: var(--darkModeTxtClr);
  background-color: var(--themeBgOp);
  margin-bottom: 50px;
  .btn {
    padding: 0.5rem 1rem;
    background-color: var(--themeBgOp);
    color: white;
    font-size: calc(0.75vw + 0.75rem);
    cursor: pointer;
    margin-bottom: 10px;
  }
  section {
    margin: auto;
    margin-bottom: 20px;
    max-height: 20rem;
    overflow-x: auto;
    scrollbar-width: 5px;
    h2 {
      width: 100%;
      background-color: orangered;
      margin-bottom: 20px;
    }
    table {
      background-color: var(--darkModeBg);
      padding: 1rem;
      width: 100%;
      overflow-x: auto;

      thead {
        color: var(--darkModeTxtClr);
        background-color: var(--themeBgOp);
        tr th {
          padding: 0.5rem;
        }
      }
      tbody {
        background-color: var(--themeBdr);
        tr td {
          padding: 0.5rem;
        }
      }
    }
  }
}
