.section {
    margin-bottom: 100px;
    h2 {
      font-family: "Audiowide", cursive;
      margin-bottom: 10px;
      text-align: center;
    }
    .tableSection {
      margin: auto;
      .table {
        width: calc(45vw + 15rem);
        margin: auto;
        padding: 1rem;
        border: 1px solid black;
        margin-bottom: 50px;
        border-collapse: collapse;
        tbody tr {
          td {
            padding: 1rem;
          }
        }
        thead tr th {
          background-color: coral;
          padding: 1rem;
        }
      }
    }
  
  .employeeCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
    .card {
      display: grid;
      margin: auto;
      gap: 0.5rem;
      width: 450px;
      height: 300px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
      border-radius: 0.5rem;
      .profileImg {
        background-color: rgb(187, 187, 187);
        width: 80px;
        height: 80px;
        margin: 0.5rem;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          display: grid;
          place-items: center;
          text-align: center;
        }
      }
      .profileCard-info {
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        background-color: coral;
        padding: .25rem;
      }
  
      .profileCard-info span {
        margin: 0.2rem 0;
      }
    }
  }
  
  .version {
    margin: auto;
    width: 95vw;
    padding: 0.5rem;
    text-align: center;
    color: white;
    background-color: var(--primaryBackground);
    margin-bottom: 50px;
    section {
      margin: auto;
      margin-bottom: 20px;
      max-height: 20rem;
      overflow-x: auto;
      scrollbar-width: 5px;
      h2 {
        width: 100%;
        background-color: orangered;
        margin-bottom: 20px;
      }
      table {
        background-color: lightgray;
        padding: 1rem;
        width: 100%;
        overflow-x: auto;
  
        thead {
          color: var(--primaryBackground);
          background-color: white;
          tr th {
            padding: 0.5rem;
          }
        }
        tbody {
          background-color: orangered;
          tr td {
            padding: 0.5rem;
          }
        }
      }
    }
  }
  
  .btn {
    padding: 0.5rem 1rem;
    background-color: orangered;
    color: white;
    font-size: calc(0.75vw + 0.75rem);
    cursor: pointer;
    margin-bottom: 10px;
  }
  
